.header {
    width: 100%;
    background-color: #282c34;
    display: inline-block;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    vertical-align: middle;
}

.home {
    padding: 10px 5px 5px 10px;
}